

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted">{{ site.data.global.footer_text }}</p>
                    </div>
                </div>
            </div>
        </footer>
        {% if page.comments %}
        <script>
        /*var disqus_config = function () {
        this.page.url = "{{site.url}}{{ page.url }}"; 
        this.page.identifier = "{{ page.id }}";
        };*/
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//john-cd-blog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <script id="dsq-count-scr" src="//john-cd-blog.disqus.com/count.js" async></script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
        <!-- JavaScript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ site.data.global.url }}/js/power.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-92780605-1', 'auto');
          ga('send', 'pageview');
        </script>                     
    </body>
</html>