{% include header.html %}

    {% include title-group.html %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">  <!-- col-md-12 -->


                    {{ content }}
                </div>
            </div>
            {% if page.comments %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="disqus_thread"></div>
                </div>
            </div>
           {% endif %}
        </div>
    </article>

{% include footer.html %}