{% include header.html %}

{% include title-group.html %}

<article>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                {{ content }}
            </div>
            <div class="col-md-4">       
                <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="scdupeyrat"><a class="LI-simple-link" href='https://www.linkedin.com/in/scdupeyrat?trk=profile-badge'>Sylvain John Cruchon-Dupeyrat</a>
                </div>
                <p> </p>
                <div>
                    <a href="http://stackoverflow.com/users/3874751/john-cd">
                        <img src="http://stackoverflow.com/users/flair/3874751.png" width="208" height="58" alt="profile for john-cd at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for john-cd at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                        </a>
                    </div>
                </div>
            </div>
        </div>
</article>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    {% include footer.html %}
    